<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div th:if="${errorMsg}" th:text="${errorMsg}">Error Msg</div>

<div class="container-fluid " th:if="${recipe}" th:object="${recipe}">
  <div class="container">

    <div class="row ">
      <div class="col border border-primary text-center" th:text="*{description}">
        Column
      </div>
    </div>

    <div class="row ">
      <div class="col border border-primary">
        <p th:text="'Difficulty: '  + *{difficulty}">Difficulty</p>
        <p th:text="'Preperation time: ' + *{prepTime} + ' min'">Prep time</p>
        <p th:text="'Cooking time: ' + *{cookTime} + ' min'">Cook time</p>
        <p th:text="'Servings: ' + *{servings}">Servings</p>
      </div>
      <div class="col-6 border border-primary">
        <p th:text="*{directions}">Directions</p>
      </div>
      <div class="col border border-primary">
        <p th:text="*{'Source: ' + source}">Source</p>
        <p th:text="*{'Url: ' + url}">url</p>
        <p th:text="*{'Image: ' + image}">Image</p>
      </div>
    </div>

    <div class="row ">
      <div class="col border border-primary text-center" th:text="*{note.description}">
        Note
      </div>
    </div>

    <div class="row ">
      <div class="col border border-primary">
        Ingredients:
        <ul>
          <li th:each="ingredient : *{ingredients}">
            <div th:text="${ingredient.amount + ' ' + ingredient.uom.description + ' - ' +  ingredient.description}"></div>
          </li>
        </ul>
      </div>
      <div class="col border border-primary">
        Categories:
        <ul>
          <li th:each="category : *{categories}" th:text="${category.description}">Category</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>