<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
</head>
<body>

<h2>List of Recipes:</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">id</td>
            <td th:text="${recipe.description}">description</td>
        </tr>
    </tbody>
</table>

<ol>
    <li th:each="recipe : ${recipes}" th:text="${recipe}">recipe 1</li>
    <li th:remove="all">recipe 2</li>
    <li th:remove="all">recipe 3</li>
</ol>

</body>
</html>